.wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.logo {
  width: 100px;
  float: left;
}
.horizontal-menu {
  float: right;
  list-style-type: none;
  margin: 0;
}
li {
  margin: 10px;
  float: left;
}

li a {
  color: #583079;
  font-weight: bold;
  padding: 10px;
  background: #ff7f50;
  text-decoration: none;
}

.container {
  clear: both;
  padding: 10px;
}

.first-column {
  float: left;
  width: 27%;
  padding-right: 40px;
  border-right: dotted rgb(197, 2, 2) 6px;
  height: 700px;
  text-align: justify;
}

.third-column {
  float: right;
  width: 27%;
  height: 700px;
  text-align: justify;
}

.second-column {
  float: left;
  width: 27%;
  margin: 0 5%;
  padding-right: 40px;
  border-right: dotted rgb(197, 2, 2) 6px;
  height: 700px;
  text-align: justify;
}
.photo-right {
  float: right;
  margin: 10px;
  width: 200px;
  height: auto;
}

.photo-left {
  float: left;
  margin: 10px;
  width: 200px;
  height: auto;
}
