.wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.logo {
  width: 100px;
  float: left;
}
.horizontal-menu {
  float: right;
  list-style-type: none;
  margin: 0;
}
li {
  margin: 10px;
  float: left;
}

li a {
  color: #583079;
  font-weight: bold;
  padding: 10px;
  background: #ff7f50;
  text-decoration: none;
}

.block {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 40px;
  clear: both;
}

.cards {
  display: inline-block;
  width: 250px;
  height: 300px;
  border: 1px solid green;
  margin: 20px;
  vertical-align: top;
  margin-right: 50px;
  margin-left: 50px;
}

.photo {
  width: 100%;
  height: auto;
}
.card-name {
  text-align: left;
  font-size: 28px;
}

.card1 {
  box-shadow: -7px -7px 5px 3px green;
}
.card2 {
  box-shadow: 0px 0px 11px 12px green;
}
.card3 {
  box-shadow: 9px 9px 13px -1px rgba(0, 128, 0, 0.436);
}
.card4 {
  box-shadow: 0px 0px 35px 1px green;
}
.card5 {
  box-shadow:
    -10px 0px 0px 0px red,
    10px 0px 0px 0px blue,
    10px 10px 0px 0px yellow,
    -10px 10px 0px 0px yellow,
    -10px -10px 0px 0px green,
    10px -10px 0px 0px green;
}
.card6 {
  box-shadow:
    0px -16px 0px -8px yellow,
    0px 16px 0px -8px green;
}
