a {
  color: purple;
}
.category-title {
  color: green;
}
.square-list {
  list-style-type: square;
}
.custom-list {
  list-style: none;
  padding-left: 25px;
}

.custom-list li {
  position: relative;
  padding-left: 20px;
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-image: url("../img/images.png");
  background-size: contain;
  background-repeat: no-repeat;
}
ul li ul {
  list-style: none;
}
.square-list a {
  text-decoration: none;
}
.inside-numbered-list {
  list-style-position: inside;
}
