.text_align {
  text-align: center;
}
.text_h1 {
  color: red;
  font-size: 50px;
}
.text_h2 {
  font-size: 35px;
  font-style: italic;
}
.text_size {
  font-size: 24px;
}
.text_note {
  font-family: "Comic Sans MS";
  font-style: italic;
  font-size: 24px;
}
.separator {
  background-color: green;
  width: 50%;
  height: 5px;
}
